/*-- scss:defaults --*/

$body-bg: #fff !default;
$body-color: #4f4e4e !default;
$link-color: #ee9040 !default;
$mermaid-font-family: arial;
$presentation-h1-font-size: 2.0em !default;
$presentation-title-slide-text-align: left !default;
/*-- scss:rules --*/

.gray_link_div a {
  color: #1E1E1E;      /* Set your desired link color */
}

.gray_link_div a:visited {
  color: #1E1E1E;      /* Set your desired link color */
}

.gray_link_div a:hover {
  color: #505050;      /* Set your desired link color */
}

.table-tiny table {
  font-size: 0.6em;
  width: 100%;
  table-layout: fixed;
}

.table-tiny colgroup col:nth-child(1) { width: 15% !important; }
.table-tiny colgroup col:nth-child(2) { width: 15% !important; }
.table-tiny colgroup col:nth-child(3) { width: 50% !important; }


.table-tiny table th:nth-child(2),
.table-tiny table td:nth-child(2) {
  text-align: right !important;
}
